.container__pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}

.container__pagination ul {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;

}

.container__pagination li {
    margin-left: 2px;
    margin-right: 2px;
    padding: 6px 10px;
    border-radius: 4px;
    display: flex;
    font-size: 10px;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
}

.container__pagination li.active,
.container__pagination li.active:hover {
    background: #5271FF;
}

.container__pagination li.active span,
.container__pagination li.active:hover span {
    color: #fff;
}

.container__pagination li span {
    font-size: 11px;
    font-weight: 600;
    transition: 0.5s;
    color: #606B6F;
}

.container__pagination li:hover {
    background: #F4F6FA;
    transition: 0.5s;
}

.container__pagination li:hover span {
    color: #5271FF;
}

.registers {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
}

.registers p {
    margin-left: 14px;
    margin-right: 14px;
    position: relative;
    font-size: 13px;

    transition: 0.5s;

}

.registers {
    height: 40px;
    position: relative;

}

.registers input {
    cursor: pointer;
}

.registers li {
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    position: relative;
}

.registers li:hover {
    background: #5271FF;
}

.container__pagination li:hover span {
    color: #fff !important;
}

.count__pagination:hover {
    background: none !important;
}

.count__pagination {
    font-size: 13px !important;
}