.not__data {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-bottom: 50px;
}

.not__data > div:nth-child(1) {
    width: 400px;
    margin-top: 50px;
}

.not__data img {
    width: 100%;
}

.not__data > div:nth-child(1) p {
    font-size: 14px;
    text-align: center;
    margin-top: 40px;
    color: #8b8b8b;
    font-weight: 300;
}