.skeleton{
    /* position: relative;
    background-color: rgb(255, 255, 251); */
    box-sizing: border-box;
    /* background-color: rgb(225, 227, 234); */
    background-color: rgb(228, 230, 235);
    border-radius: 8px;
    /* height: 1.20rem; */
    overflow: hidden;
    pointer-events: none;
    position: relative;
    /* width: 60%; */
}

.skeleton__animation{
    position: absolute;
    top: 0;
    z-index: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, transparent, rgb(244, 244, 246) 40%, rgb(244, 244, 246) 60%, transparent);
    transform: translateX(-100%) skew(155deg);
    animation-timing-function: cubic-bezier(0.06, 0.42, 0.57, 0.89);
    animation-name: animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes animation {
    0% {
        -webkit-transform: translateX(-100%) skew(155deg);
        -moz-transform: translateX(-100%) skew(155deg);
        -ms-transform: translateX(-100%) skew(155deg);
        transform: translateX(-100%) skew(155deg);
    }

    50%,
    100% {
        -webkit-transform: translateX(100%) skew(155deg);
        -moz-transform: translateX(100%) skew(155deg);
        -ms-transform: translateX(100%) skew(155deg);
        transform: translateX(100%) skew(155deg);
    }
}