.movie--isloading {
    padding: 7px;
    height: 550px;
    background: #fff;   
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.header__table {
    border-bottom: 0.5px solid rgb(221, 221, 221);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.search__loading {
    box-sizing: border-box;
    padding: 7px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(225, 227, 234);
    border-radius: 4px;
    height: 1.20rem;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    width: 200px;
}

.search__loading>div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background: linear-gradient(90deg, transparent, rgb(244, 244, 246) 40%, rgb(244, 244, 246) 60%, transparent);
    transform: translateX(-100%) skew(155deg);
    animation-timing-function: cubic-bezier(0.06, 0.42, 0.57, 0.89);
    animation-name: animation;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
}

@keyframes animation {
    0% {
        -webkit-transform: translateX(-100%) skew(155deg);
        -moz-transform: translateX(-100%) skew(155deg);
        -ms-transform: translateX(-100%) skew(155deg);
        transform: translateX(-100%) skew(155deg);
    }

    50%,
    100% {
        -webkit-transform: translateX(100%) skew(155deg);
        -moz-transform: translateX(100%) skew(155deg);
        -ms-transform: translateX(100%) skew(155deg);
        transform: translateX(100%) skew(155deg);
    }
}

.loading-content {
    border-bottom: none !important;
}

.loading__header1 {
    box-sizing: border-box;
    background-color: rgb(225, 227, 234);
    border-radius: 4px;
    height: 1.20rem;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    width: 25%;
}

.loading__header2 {
    box-sizing: border-box;
    background-color: rgb(225, 227, 234);
    border-radius: 4px;
    height: 1.20rem;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    width: 40%;
}

.loading__header3 {
    box-sizing: border-box;
    background-color: rgb(225, 227, 234);
    border-radius: 4px;
    height: 1.20rem;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    width: 55%;
}


.loading__header4 {
    box-sizing: border-box;
    background-color: rgb(225, 227, 234);
    border-radius: 4px;
    height: 1.20rem;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    width: 60%;
}


.loading__header5 {
    box-sizing: border-box;
    background-color: rgb(225, 227, 234);
    border-radius: 4px;
    height: 1.20rem;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    width: 75%;
}


.loading__header1>div,
.loading__header2>div,
.loading__header3>div,
.loading__header4>div,
.loading__header5>div {
    position: absolute;
    top: 0;
    z-index: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, transparent, rgb(244, 244, 246) 40%, rgb(244, 244, 246) 60%, transparent);
    transform: translateX(-100%) skew(155deg);
    animation-timing-function: cubic-bezier(0.06, 0.42, 0.57, 0.89);
    animation-name: animation;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
}

@keyframes animation {
    0% {
        -webkit-transform: translateX(-100%) skew(155deg);
        -moz-transform: translateX(-100%) skew(155deg);
        -ms-transform: translateX(-100%) skew(155deg);
        transform: translateX(-100%) skew(155deg);
    }

    50%,
    100% {
        -webkit-transform: translateX(100%) skew(155deg);
        -moz-transform: translateX(100%) skew(155deg);
        -ms-transform: translateX(100%) skew(155deg);
        transform: translateX(100%) skew(155deg);
    }
}

.tr--table {
    border-bottom: 0.5px solid rgb(221, 221, 221);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.tr--table > div {
    position: relative;
}

.tr--table .loading-image1 {
    box-sizing: border-box;
    background-color: rgb(225, 227, 234);
    border-radius: 4px;
    height: 1.20rem;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    z-index: 0;
    width: 60%;
}

.tr--table .loading-image2 {
    box-sizing: border-box;
    background-color: rgb(225, 227, 234);
    border-radius: 4px;
    height: 1.20rem;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    z-index: 0;
    width: 20%;
}

.tr--table .loading-image3 {
    box-sizing: border-box;
    background-color: rgb(225, 227, 234);
    border-radius: 4px;
    height: 1.20rem;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    z-index: 0;
    width: 20%;
}

.tr--table .loading-image4 {
    box-sizing: border-box;
    background-color: rgb(225, 227, 234);
    border-radius: 4px;
    height: 1.20rem;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    z-index: 0;
    width: 20%;
}

.tr--table .loading-image5 {
    box-sizing: border-box;
    background-color: rgb(225, 227, 234);
    border-radius: 4px;
    height: 1.20rem;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
    position: relative;
    width: 20%;
}

.tr--table:last-child {
    border-bottom: none;
}

.tr--table .loading-image1>div,
.tr--table .loading-image2>div,
.tr--table .loading-image3>div,
.tr--table .loading-image4>div,
.tr--table .loading-image5>div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background: linear-gradient(90deg, transparent, rgb(244, 244, 246) 40%, rgb(244, 244, 246) 60%, transparent);
    transform: translateX(-100%) skew(155deg);
    animation-timing-function: cubic-bezier(0.06, 0.42, 0.57, 0.89);
    animation-name: animation;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
}

.loading-content {
    border-bottom: 0.5px solid rgb(221, 221, 221);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loading-text-container {
    box-sizing: border-box;
    padding: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(225, 227, 234);
    border-radius: 4px;
    height: 1.20rem;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    width: 100px;
}

.loading-btn {
    box-sizing: border-box;
    padding: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(225, 227, 234);
    border-radius: 4px;
    height: 1.20rem;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    width: 40px;
    margin-right: 50px;
}

.loading-text-container>div, .loading-btn>div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    right: 0;
    background: linear-gradient(90deg, transparent, rgb(244, 244, 246) 40%, rgb(244, 244, 246) 60%, transparent);
    transform: translateX(-100%) skew(155deg);
    animation-timing-function: cubic-bezier(0.06, 0.42, 0.57, 0.89);
    animation-name: animation;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
}

@keyframes animation {
    0% {
        -webkit-transform: translateX(-100%) skew(155deg);
        -moz-transform: translateX(-100%) skew(155deg);
        -ms-transform: translateX(-100%) skew(155deg);
        transform: translateX(-100%) skew(155deg);
    }

    50%,
    100% {
        -webkit-transform: translateX(100%) skew(155deg);
        -moz-transform: translateX(100%) skew(155deg);
        -ms-transform: translateX(100%) skew(155deg);
        transform: translateX(100%) skew(155deg);
    }
}