@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('./assets/fontsIntall/stylesheet.css');

:root {
  /* Default font family variable to allow easy override */
  --font-sans: 'Urbanist', 'Helvetica Now Display', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  background-color: #f3f4f6;
}

.slick-slide {
  padding: 10px;
}

.slick-slider button {
  display: none !important;
}

@media (max-width: 600px) {
  .slick-slider button {
    display: none !important;
  }

  .slick-list {
    overflow: visible !important;
    left: -10px;
  }

  .slick-slide {
    padding: 10px 25px 10px 15px;
  }
}

.tr-shadow {
  box-shadow: none !important;
  border: none !important;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.3) !important;
  transition: 0.3s;
  z-index: 100 !important;
}

.z-999 {
  z-index: 999999 !important;
}